* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  background-image: url("https://intranet-projects-files.s3.amazonaws.com/holbertonschool-webstack/581/holberton-logo.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
}

button {
  width: max-content;
  display: inline-block;
  margin-right: 20px;
}

#count {
  width: max-content;
  display: inline-block;
}
